@import url(https://fonts.googleapis.com/css?family=Rubik:500&subset=latin,cyrillic);

.menu {
 box-sizing: border-box;
 font-weight: bold;
 display: inline-block; 
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    float: left;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    
}

.menu a {
    color: #ecf0f1;
    display: block;
    padding: 0 2rem;
    text-decoration: none;
    line-height: 6rem;
    width: 12.5rem;
    margin: 0;
    background: #9b59b6;
    cursor: pointer;        
}

.menu a:hover {
    background: #3498db;
    display: block;
}

 .pod-menu {
    visibility: hidden;
    content: "";
    position: absolute;
    z-index: 9999;
 }
 
 .menu li:hover .pod-menu {
     visibility: visible;
     content: "";
     position: absolute;
     z-index: 9999;
  }
  
    
@media only screen and (max-width: 799px) and (min-width: 800px) {
.pod-menu {display: inline-block;}    
}
 
