@import url(grid.css);
@import url(menu.css);
@import url(modwindow.css);

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background: url(../img/full-1.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.header {
    background: #9b59b6;
    height: 6rem;
}

.search {
    margin-top: 1.5rem;
}

.search input {
    float: right;
    border: 0.1rem solid brown;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 3rem;
    width: 30rem;
    margin: 0;
}

.search button {
    border: 0.1rem solid brown;
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 3rem;
    float: right;
    width: 3rem;
}

.zayavka {
    float: right;
    padding-top: 0.75rem;
    right: 2rem;
}

.slider-wrapper {
    
}

.slider {
    background: url(../img/img1.jpg) center no-repeat;
    background-size: cover;
    height: 50rem;
}

.block {
    height: 25rem;
    margin: 0;
}


.block p  {
    color: antiquewhite;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    line-height: 25rem;
    padding: 0;
}    

.block a {
    text-decoration: none;
    color: antiquewhite;
}

.yellow {
    background: #f39c12;
}

.blue {
    background: blueviolet;
}

.block-center1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    background:#ecf0f1;
    line-height: 1.5;
    padding: 1rem;
}

.block-center1 strong {
    color: red;
}

.for {
    margin-top: 1.5rem;
    padding: 2rem;
    color: snow;
    display: inline-block;
    line-height: 3rem;
 }

.grey {
    background: url(../img/metal.jpg);
}

.for h2 {
    color: aqua;
    font-size: 2.5rem;
    
}
  
}
.for p {
    font-size: 1.5rem;
    display: inline-block;
}

for div {
    padding: 2rem;
}

.line img {
    max-width: 100%;
}
    

.petya {
    margin: 1rem;
    padding: 1rem;
    text-justify: auto;
    line-height: 1.5;
    display: block;
    background: #ecf0f1;         
}

.petya2 {
    margin: 1rem;
    padding: 1rem;
    text-justify: auto;
    line-height: 1.5;
    display: block;
    background: #16a085;
    color: snow;         
}

.petya3 {
    margin: 1rem;
    padding: 1rem;
    text-justify: auto;
    line-height: 1.5;
    display: block;
    background:#e67e22;
    color: snow;         
}

.ground {
    float: left;
    background: url(../img/full.png) repeat;
    padding: 1rem;
    line-height: 1.5;
}

.ground2 {
    float: left;
    background: #3498db;
    padding: 1rem;
    line-height: 1.5;
    color: snow;
}

.ground3 {
    float: left;
    background: #3498db;
    padding: 1rem;
    line-height: 1.5;
    color: snow;
}

.img-r {
    height: 10rem;
    border-radius: 50%;
    max-width: 100%;
}

.copyright {
    height: 2rem;
    font-weight: bold;
    margin: 3rem;
}

.footer ul {
    float: right;
    margin: 3rem;
}

.footer li {
    display: inline;
    color: darkblue;
}

.footer a {
    display: inline-block;
    text-decoration: none;
}