@import url(grid.css);

body {
    front-family: "Verdana"; sans-serif;
    margin: 3%;
}


.menu {
    position: right;
    background: coral;
    list-style: none;
    margin: 0;
    padding: 1em;
    text-align: center;
    display: block, inline;
    width: 400 px;
}

.slider {
    mergin: 20px;
    list-style: none;
}

.menu li {
    color: #fff
}

.menu a {
    color: #fff;
    display: block;
    front-weight: bold;
    text-decoration: none;
    front-size: 14px;
}